
<%- include("partials/header")  -%> 

<h1>Compose</h1>

<form action="/compose" method="post">
    <div class="form-group">
        <label>Title</label>
        <input type="text" name="titleArea" class="form-control">
        <label>Post</label>
        <textarea name="postArea" rows="5" cols="30" class="form-control"></textarea>
    </div>
    
    <button type="submit" name="button" class="btn btn-primary">Publish</button>
</form>


<%- include("partials/footer")  -%> 